.ant-form-item
	.ant-form-item-label
	> label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
	display: none;

}
.form-label label {
	color: white !important;
	margin-top: 0.2rem;
}

.password-input input {
	text-align: center;

}
.password-input input::placeholder {
	color:black;
}

.password-input {
	background-color: #FF8551 !important;
}
.password-input:hover,
.username-input:hover {
	background-color: #45484c !important;
}

.username-input:focus,
.password-input:focus-within {
	background-color: #9BCDD2 !important;
}

.password-input .ant-input-suffix {
	display: none;
}

.signup-password .ant-input-suffix {
	display: block;
}

.submit-btn:hover {
	background-color: #45484c !important;
}

.navbar { 
	display: block; /* Or flex, or inline-block depending on how you want it laid out */
  } 
  
  /* More specific if needed */
  #main-header .navbar { 
	display: block;
  }